<section id="bricks">

    <div class="row masonry">

        <!-- brick-wrapper -->
      <div class="bricks-wrapper">

          <div class="grid-sizer"></div>

          <div class="brick entry featured-grid animate-this">
              <div class="entry-content">
                  <div id="featured-post-slider" class="flexslider">
                        <ul class="slides">



                            <% listnews.forEach((item) => { %>
                                <% if (item.special) { %>
                                    <li>
                                        <div class="featured-post-slide">
                                            <div class="post-background" style="background-image:url('/<%= item.avatar %>');"></div>
                                            <div class="overlay"></div>
                                            <div class="post-content">
                                                <ul class="entry-meta">
                                                    <li>September 06, 2024</li>
                                                    <li><a href="#">L.ThTai</a></li>
                                                </ul>
                                                <h1 class="slide-title"><a href="/news/<%= item._id%>" title=""><%= item.name %></a></h1>
                                            </div>
                                        </div>
                                    </li> <!-- /slide -->
                                <% }  %>
                                 
                            <% }); %>
                            



                            <!-- <li>
                                <div class="featured-post-slide">

                                    <div class="post-background" style="background-image:url('/frontend/images/thumbs/featured/1.jpg');"></div>

                                    <div class="overlay"></div>			   		

                                    <div class="post-content">
                                        <ul class="entry-meta">
                                             <li>September 06, 2024</li> 
                                             <li><a href="#" >L.ThTai</a></li>				
                                         </ul>	

                                        <h1 class="slide-title"><a href="/home" title="">The Straw Hat Pirates</a></h1> 
                                    </div> 				   					  
                            
                                </div>
                            </li> /slide -->

                            <!-- <li>
                                <div class="featured-post-slide">

                                    <div class="post-background" style="background-image:url('/frontend/images/thumbs/featured/2.jpg');"></div>

                                    <div class="overlay"></div>			   		

                                    <div class="post-content">
                                        <ul class="entry-meta">
                                             <li>August 29, 2024</li>
                                             <li><a href="#">L.ThTai</a></li>					
                                         </ul>	

                                        <h1 class="slide-title"><a href="/home" title="">The Straw Hat Pirates</a></h1>
                                    </div>		   				   					  
                            
                                </div>
                            </li> 

                            <li>
                                <div class="featured-post-slide">

                                    <div class="post-background" style="background-image:url('/frontend/images/thumbs/featured/3.jpg');;"></div>

                                    <div class="overlay"></div>			   		

                                    <div class="post-content">
                                        <ul class="entry-meta">
                                             <li>August 27, 2024</li>
                                             <li><a href="#" class="author">L.ThTai</a></li>					
                                         </ul>	

                                        <h1 class="slide-title"><a href="/home" title="">The Straw Hat Pirates</a></h1>
                                    </div>

                                </div>
                            </li> end slide -->

                        </ul> <!-- end slides -->
                    </div> <!-- end featured-post-slider -->        			
              </div> <!-- end entry content -->         		
          </div>

          <%
          function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
              const j = Math.floor(Math.random() * (i + 1));
              [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
          }
        
          const shuffledNews = shuffleArray(listnews);
          const nonrenderedCategories = new Set();
          shuffledNews.forEach((item) => {
           %>
        
          <% if (!item.special) { %>
                    
                                <article class="brick entry format-standard animate-this">
                    
                        <div class="entry-thumb">
                           <a href="/news/<%= item._id%>" class="thumb-link">
                               <img src="/<%= item.avatar%>" alt="building">             
                           </a>
                        </div>
                    
                        <div class="entry-text">
                            <div class="entry-header">
                    
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#"><%= item.name%></a>               				
                                    </span>			
                                </div>
                    
                                <h1 class="entry-title"><a href="/news/<%= item._id%>"><%= item.description%></a></h1>
                                
                            </div>
                        </div>
                    
                    
                         </article> 
                    <% }  %>
        <%
              });
        %>
        
        
         <!-- format audio here -->
        

      </div> <!-- end brick-wrapper --> 

    </div> <!-- end row -->

    <div class="row">
        
        <nav class="pagination">
           <span class="page-numbers prev inactive">Prev</span>
            <span class="page-numbers current">1</span>
            <a href="#" class="page-numbers">2</a>
           <a href="#" class="page-numbers">3</a>
           <a href="#" class="page-numbers">4</a>
           <a href="#" class="page-numbers">5</a>
           <a href="#" class="page-numbers">6</a>
           <a href="#" class="page-numbers">7</a>
           <a href="#" class="page-numbers">8</a>
           <a href="#" class="page-numbers">9</a>
            <a href="#" class="page-numbers next">Next</a>
       </nav>

    </div>

</section> <!-- end bricks -->