<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<%- include('./elements/header.ejs'); %>

<body id="top">

	<!-- header 
   ================================================== -->
   
   <%- include('./elements/bodyheader.ejs'); %>


   <!-- masonry
   ================================================== -->
   <%- body %>
   
   <!-- footer
   ================================================== -->
   <%- include('./elements/footer.ejs'); %>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <%- include('./elements/script.ejs'); %>

</body>

</html>