<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">

      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
        <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. </p>
        <p><a href="/shop/shop" class="btn">Explore</a></p>
      </div> 
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <%
      let renderedCategories = new Set();
      listproduct.forEach((item) => {
          if (!renderedCategories.has(item.category)) {
              renderedCategories.add(item.category);
      %>
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
              <a class="product-item" href="/shop/viewproduct/<%= item._id%>">
                  <img src="/<%= item.avatar%>" class="img-fluid product-thumbnail">
                  <h3 class="product-title"><%= item.name%></h3>
                  <strong class="product-price">$<%= item.price%></strong>
                  <span class="icon-cross">
                      <img src="/product/images/cross.svg" class="img-fluid">
                  </span>
              </a>
          </div>
      <%
          }
      });
      %>

    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">Why Choose Us</h2>
        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="/product/images/truck.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Fast &amp; Free Shipping</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="/product/images/bag.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Easy to Shop</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="/product/images/support.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>24/7 Support</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="/product/images/return.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Hassle Free Returns</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img src="/product/images/figureKing.jpg" alt="Image" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="we-help-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="imgs-grid">
          <div class="grid grid-1"><img src="/product/images/figurezoro.jpg" alt="Untree.co"></div>
          <div class="grid grid-2"><img src="/product/images/figureKing.jpg" alt="Untree.co"></div>
          <div class="grid grid-3"><img src="/product/images/figureluffy.jpg" alt="Untree.co"></div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5">
        <h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
        <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada</p>

        <ul class="list-unstyled custom-list my-4">
          <li>Donec vitae odio quis nisl dapibus malesuada</li>
          <li>Donec vitae odio quis nisl dapibus malesuada</li>
          <li>Donec vitae odio quis nisl dapibus malesuada</li>
          <li>Donec vitae odio quis nisl dapibus malesuada</li>
        </ul>
        <p><a herf="#" class="btn">Explore</a></p>
      </div>
    </div>
  </div>
</div>

<div class="popular-product">
  <div class="container">
    <div class="row">

      <% listcategoryproduct.forEach((item) => { %>
    <% if (!item.special) { %>
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
                <div class="thumbnail">
                    <img src="/<%= item.avatar%>" alt="Image" class="img-fluid">
                </div>
                <div class="pt-3">
                    <h3><%= item.name%></h3>
                    <p><%= item.description%> </p>
                    <p><a href="/shop/shop/detail/<%= item.name%>">Read More</a></p>
                </div>
            </div>
        </div>
    <% } %>
<% }); %>

    

    </div>
  </div>
</div>

<div class="testimonial-section before-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Testimonials</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">
                        
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;One piece Big Fan, that's all.. (/^_^)/.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/product/images/me.jpg" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">L.Thanh Tai</h3>
                                            <span class="position d-block mb-3">UITer.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 
                       

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;One piece Big Fan, that's all.. (/^_^)/.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/product/images/me2.jpg" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">L.Thanh Tai</h3>
                                            <span class="position d-block mb-3">UITer.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 
                       

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;One piece Big Fan, that's all.. (/^_^)/.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/product/images/me3.jpg" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">L.Thanh Tai</h3>
                                            <span class="position d-block mb-3">UITer.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 
                        <!-- END item -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <h2 class="section-title">Recent Blog</h2>
      </div>
      <div class="col-md-6 text-start text-md-end">
        <a href='/' class="more">View All Posts</a>
      </div>
    </div>

    <div class="row">
      <%
  function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
  }

  const shuffledNews = shuffleArray(listnews);
  const nonrenderedCategories = new Set();
  shuffledNews.forEach((item) => {
    if (!nonrenderedCategories.has(item.category)) {
      nonrenderedCategories.add(item.category);
%>

<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
  <div class="post-entry">
    <a href="/news/<%= item._id%>" class="post-thumbnail"><img src="/<%= item.avatar%>" alt="Image" class="img-fluid" width="80%" height="auto"></a>
    <div class="post-content-entry">
      <h3><a href="/news/<%= item._id%>"><%= item.name%></a></h3>
      <div class="meta">
        <span>by <a href="/news/<%= item._id%>"><%= item.description%></a></span>
        <span>on <a href="/news/<%= item._id%>"><%= item.createdAt.toISOString().split('T')[0] %></a></span>
      </div>
    </div>
  </div>
</div>

<%
    }
  });
%>

    </div>
  </div>
</div>
