<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
  <%- include('./elements/head.ejs'); %>

	<body>

		<!-- Start Header/Navigation -->
		<%- include('./elements/bodyheader.ejs'); %>
		<!-- End Header/Navigation -->

		

		<%- body%>

		<!-- Start Footer Section -->
    <%- include('./elements/footer.ejs'); %>
		<!-- End Footer Section -->	


		<%- include('./elements/script.ejs'); %>
	</body>

</html>
