<!DOCTYPE html>
<html>
    <%- include('./elements/header.ejs'); %>

  <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
   
    <%- include('./elements/xml.ejs'); %>

    <%- include('./elements/searchside.ejs'); %>
    
    <%- include('./elements/mainheader.ejs'); %>
    <%- body %>
    <%- include('./elements/footer.ejs'); %>
   
    <%- include('./elements/script.ejs'); %>
  </body>
</html>