<div class="we-help-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <div class="imgs-grid">
            <div class="grid grid-1"><img src="/<%= data.avatar%>" alt="Untree.co"></div>
          </div>
        </div>
        <div class="col-lg-5 ps-lg-5">
          <h2 class="section-title mb-4"><%= data.name%></h2>
          <p><%= data.description%></p>
         <p><%- data.content%></p>
          <ul class="list-unstyled custom-list my-4">
            <li>Category: <%= data.category%></li>
            <li>Quantity: <%= data.quantity%></li>
          </ul>
          <h3>$<%= data.price%></h3>
          <form action="/shop/cart/add" method="post">
                <input type="hidden" name="id" value="<%= data._id %>">
                <button type="submit" class="btn nav-link">Add to Cart</button>
            </form>            
                        </div>
                    </div>
                </div>
            </div>

<div class="product-section">
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                        <h2 class="mb-4 section-title">Related products</h2>
                    </div> 
                <div class="container">
                    <div class="row">    
                                
                        <%
        let itemCount = 0;
        listproduct.forEach((item) => {
                if (data.category == item.category && itemCount < 4) {
                        itemCount++;
        %>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <a class="product-item" href="/shop/viewproduct/<%= item._id%>">
                                <img src="/<%= item.avatar%>" class="img-fluid product-thumbnail">
                                <h3 class="product-title"><%= item.name%></h3>
                                <strong class="product-price">$<%= item.price%></strong>
                                <span class="icon-cross">
                                        <img src="/product/images/cross.svg" class="img-fluid">
                                </span>
                        </a>
                </div>
        <%
                }
        });
        %>
                    </div>
                </div>
            </div>
        </div>
