<div class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table">
              <thead>
                <tr>
                  <th class="product-thumbnail">Index</th>
                  <th class="product-name">Category</th>
                  <th class="product-price">Name</th>
                  <th class="product-quantity">Image</th>
                  <th class="product-total">Price</th>
                  <th class="product-total">Quantity</th>
                  <th class="product-remove">CreatedAt</th>
                  <th class="product-total">Status</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                    <% data.forEach((item, index) => { %>
                        <td><%= index + 1 %></td>
                        <td><%= item.category %></td>
                        <td><%= item.name %></td>
                        <td>null</td>
                        <td><%= item.price %></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.createdAt.toISOString().split('T')[0] %></td>
                        <td><%= item.status %></td>
                    <% }); %>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
     </div>
</div>